// Place all the styles related to the Colours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.container {
  flex-direction: column;
  align-items: center;
  display: flex;
  // position: absolute;
}

.grid-tint.light {
  background: white;
}
.grid-tint.dark {
  background: black;
}

.grid {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
  column-gap: 2px;
  row-gap: 2px;
  background-color: #fffff8;
}

.grid.light {
  opacity: 0.4;
}

.grid.dark {
  opacity: 0.7;
}

.red {
  background-color: #ff0000;
}

.pink {
  background-color: #ff3b7d;
}

.purple {
  background-color: #800080;
}

.blue {
  background-color: #0000ff;
}

.turquoise {
  background-color: #40e0d0;
}

.teal {
  background-color: #26a69a;
}

.green {
  background-color: #4caf50;
}

.yellow {
  background-color: #ffff00;
}

.orange {
  background-color: #ffa500;
}

.colour-message {
  border: 2px solid #494c6f;
  background-color: #fffff8;
  color: #494c6f;
  text-align: center;
  border-radius: 5px;
  padding: 10px;
}
