<div class="container">

<%= link_to 'About', colours_about_path %>

  <h1>Colours</h1>
  <h3>What's your favourite colour?</h3>
  <div class="grid-tint dark">
    <div class="grid dark">
      <div class="red"></div>
      <div class="pink"></div>
      <div class="purple"></div>
      <div class="blue"></div>
      <div class="turquoise"></div>
      <div class="teal"></div>
      <div class="green"></div>
      <div class="yellow"></div>
      <div class="orange"></div>
    </div>
  </div>

  <p>These colours are too dark!</p>
  <%= link_to 'brighter', colours_index_path %>

</div>
